module __MODULE_PATH__

go 1.26.0

require (
	github.com/coreos/go-oidc/v3 v3.11.0
	github.com/google/uuid v1.6.0
	github.com/uptrace/bun v1.2.5
	github.com/uptrace/bun/dialect/pgdialect v1.2.5
	github.com/uptrace/bun/driver/pgdriver v1.2.5
	golang.org/x/oauth2 v0.24.0
)
